@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'Poppins', sans-serif;
    }
  }

  @layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    @keyframes flicker {
        0% { opacity: 1; transform: scale(1); }
        25% { opacity: 0.8; transform: scale(0.95) rotate(2deg); }
        50% { opacity: 1; transform: scale(1.05); }
        75% { opacity: 0.9; transform: scale(0.95) rotate(-2deg); }
        100% { opacity: 1; transform: scale(1); }
      }

      .flame-animation {
        animation: flicker 1.5s infinite alternate;
        transform-origin: center;
      }
  }
