.dark .se-input-form {
    background-color: white;
}

.dark .se-input-control {
    background-color: white;
}

.dark .se-input-select {
    background-color: white;
}


.dark .se-color-input {
    background-color: white;
}